/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.boardDrop.close {
  max-height: 0;
  transition: max-height ease-in 1500ms;
}

.boardDrop.open {
  max-height: 3rem;
  transition: max-height ease-out 500ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
